@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma'), url(./fonts/Axiforma.ttf) format('truetype');
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std'), url(./fonts/Circular.ttf) format('truetype');
}